*{
    padding: opx;
    margin: 0px;
}


:root{
    --main-background-color:  white;
    --primary-color: purple;
    --secondary-color: blue;
    --navbar-container-height: 60px;

}
.mainContainer{
    width: 100vw;
    height: 100vh;
    background-color: var (--main-background-color);
}
.navbarContainer{
    height:var(--navbar-container-height);
    width: 100%;
    background-color: var(--primary-color);
}

.contenContainer{
    height: calc(100% var(--navbar-container-height));
    width: 100%;
    background-color: var (--main-background-color);
}



